<link rel="stylesheet" href="/stylesheets/parent.css" />
<link rel="stylesheet" href="/stylesheets/main.css" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Carter+One&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Lato&family=Luckiest+Guy&family=Merienda+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Ultra&display=swap" rel="stylesheet">

<body id="body">
<!-- Side navigation -->
<div class="sidenav">
    <h2 class="centertext">Hello, <%= @parent.first_name %>!</h2><br/>
    <a href="/chores/new">Create a chore</a>
    <a href="/children/new">Create a child</a>
    <a href="/parents/<%= @parent.id %>/edit">Edit your account</a>
    <a href="/logout">Logoff</a>

</div>

<!-- Page content -->
<div class="main">

    
    <h2>Here are your chores</h2>

    <% if @chores != nil %>
        <% @chores.each do |chore|%>
            <div class="card1">
            <img class="item1" src="/images/tiny-broom.png" alt="Avatar" style="width:5%">
            <%# <div class="container"> %>
            <div class="item"><b><%= chore.name %></b></div>
            <div class="item"><%= chore.value%></div>
            <%# </div> %>
            </div>
        <% end %>
    <% else %>
        <h4>Huh, looks like you don't have any current chores.  Would you like to <a href="/chores/new">create</a> some?</h4>
    <% end %>

    <ul><% if @children != nil %>
        <% @children.each do |child|%>
            <li><%= child.name %></li>
        <% end %></ul>
    <% else %>
        <h4>Huh, looks like you don't have any children.  Would you like to <a href="/children/new">create</a> one?</h4>
    <% end %>

    </div>
</body>